<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(id)">
  <!--templatereferencevariable  -->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">{{panelTitle}}</h3>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <!-- <label for="id">id</label> -->
        <input id="id" name="id" [(ngModel)]="employee.id" type="number" class="form-control" style="display:none">
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input required id="name" name="name" [(ngModel)]="employee.name" #nameControl="ngModel" type="string" class="form-control">
        <div class="alert alert-danger" *ngIf="!nameControl.valid && nameControl.touched">Your name is required</div>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input required id="city" name="city" [(ngModel)]="employee.city" #cityControl="ngModel" type="string" class="form-control">
        <div class="alert alert-danger" *ngIf="!cityControl.valid && cityControl.touched">City is required</div>
      </div>
      <div class="form-group" [class.has-error]="genderControl.touched && genderControl.invalid">
        <label class="control-label">Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" required value="male" #genderControl="ngModel" name="gender" [(ngModel)]="employee.gender">Male
            <!-- <div class="alert alert-danger"*ngIf="!genderControl.valid && genderControl.touched">Your gender is required</div> -->
          </label>
          <label class="radio-inline">
            <input type="radio" required value="female" #genderControl="ngModel" name="gender" [(ngModel)]="employee.gender">Female
            <!-- <div class="alert alert-danger" *ngIf="!genderControl.valid && genderControl.touched">Your gender is required</div> -->
          </label>
          <!-- <input id="gender" name="gender" [(ngModel)]="employee.gender" type="string" class="form-control"> -->
          <span class="help-block" *ngIf="genderControl.touched && genderControl.invalid">
            debugger;
            Gender is required
          </span>
        </div>
      </div>
      <div class="form-group">
        <label for="department">department</label>
        <select id="department" name="department" [(ngModel)]="employee.department" type="string" class="form-control">
          <!-- <div class="alert alert-danger" *ngIf="!departmentControl.valid && departmentControl.touched"> Select Department</div> -->
          <option value="Human Resource">Human Resource</option>
          <option value="Information Technology">Information Technology</option>
          <option value="Accounting">Accounting</option>
        </select>
      </div>
    </div>
    <div class="panel-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

Angular Generated form model: {{employeeForm.value | json}}