<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>City</th>
      <th>Gender</th>
      <th>Department</th>
      <th></th>
      
    </tr>
  </thead>
  <tbody> <tr *ngFor="let emp of employees">
    
      
  
   <!--let is keyword employee vanya variable ani employeesko value store vako-->

    <td>{{emp.id}}</td>
    <td>{{emp.name}}</td>
    <td>{{emp.city}}</td>
    <td>{{emp.gender}}</td>
    <td>{{emp.department}}</td>
    <td><button class="btn btn-primary" style="margin: 5px" (click)=edit(emp.id)>Edit</button> 
      <button class="btn btn-primary" (click)=delete(emp.id)>Delete</button></td>
  
    </tr>
   
  </tbody>
</table>