
<div class="container">

  <nav class ="navbar navbar-default navbar-yellow bg-yellow">
    <ul class="nav">
      <li class="nav-item"> <a class="nav-link" routerLink="list">Employee List</a></li>
      <li class="nav-item"> <a class="nav-link" routerLink="edit/0">Add employee</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>